
<div ng-init="data = vm.item.providerData">
  <div ng-show="item.errorMessages.length > 0">
    <h2>Oh dear&hellip;</h2>
    <p>Looks like something went wrong, please try again later</p>
  </div>

  <div class="item-actions">
    <ul>
      <li><a href="{{data.url}}" class="icon-basket">{{ vm.getItemPrice(data) }}</a></li>
    </ul>
  </div>

  <h2 ng-bind="data.title"></h2>
  <img ng-src="{{data.image}}" alt="{{data.title}}" />
  <!-- add directive to show/hide more -->
  <div toggle-text="{{data.review}}" toggle-limit="250"></div>

  <div class="flex-equal-heights">
    <div ng-repeat="similarItem in data.similarItems"><a href="#" ng-click="vm.exploreWall(data.provider, similarItem.id, itemIndex)">{{similarItem.title}}</a></div>
  </div>
</div>
