<div ng-class="{ selected : vm.selected }">
  <a ng-click="vm.selected = !vm.selected" class="icon-cancel radius item-close" title="close" ng-show="vm.selected"></a>

  <div class="item-overview" ng-show="!vm.selected">
    <div class="explore-item">
      <a ng-click="vm.exploreWall(vm.item.provider, vm.item.id)" class="icon-search explore" title="Explore {{vm.item.title}}"></a>
    </div>
    <span class="item-title" ng-bind="vm.item.title"></span>
    <img ng-src="{{vm.item.image}}" alt="{{vm.item.title}}" />
  </div>

  <!-- <mw-explored-item ng-show="exploredItems.length > 0 && selected" explore-wall="exploreWall" explored-items="exploredItems" /> -->
  <div class="explored-items" ng-show="vm.exploredItems.length > 0 && vm.selected">

    <!-- loop through all explored-items, output relevant directive -->
    <div ng-repeat="item in vm.exploredItems" ng-switch on="vm.item.provider" class="item-details {{ vm.item.provider }}" data-item="{{ item.providerData.id }}">
      <mw-item-amazon ng-switch-when="amazon" item="item" item-index="$index"></mw-item-amazon>
      <mw-item-youtube ng-switch-when="youtube" item="item" item-index="$index"></mw-item-youtube>
      <mw-item-wikimedia ng-switch-when="wikimedia" item="item" item-index="$index"></mw-item-wikimedia>
      <mw-item-sevendigital ng-switch-when="sevendigital" item="item" item-index="$index"></mw-item-sevendigital>
    </div>

  </div>

</div>
