<header class="site-header">
    <div class="site-header__site-logo">
        <a class="svg" href="#/index">
            <object type="image/svg+xml" data="/web/bundles/Sk/images/nd-logo.svg" width="100%" height="100%"></object>
        </a>
    </div>
    <div class="site-header__site-strapline">
        <p>TV, Movies, Music, Stuff from&hellip;</p>
    </div>
    <mw-decade-select selected-decade="vm.selectedDecade"></mw-decade-select>
</header>
<!-- {{ vm.wallData.providerData }} -->

<section class="site-content">
    <div class="wall-items__container flex__container">
        <!-- <div class="wall-items__item  flex__item {{item.provider}}__item" ng-repeat="item in vm.wallData.providerData" ng-switch on="item.provider">
            <mw-item-amazon ng-switch-when="amazon" item="item" explore-wall="vm.exploreWall"></mw-item-amazon>
            <mw-item-youtube ng-switch-when="youtube" item="item"></mw-item-youtube>
            <mw-item-wikimedia ng-switch-when="wikimedia" item="item"></mw-item-wikimedia>
            <mw-item-sevendigital ng-switch-when="sevendigital" item="item"></mw-item-sevendigital>
        </div> -->
        <mw-item class="wall-items__item  flex__item {{item.provider}}__item" ng-repeat="item in vm.wallData.providerData" item="item" selected-decade="vm.selectedDecade"></mw-item>

    </div>
</section>
