<header class="site-header">

    <span class="site-header__site-name">NOODLEDIG</span>
    <div class="site-header__search">
        <mw-decade-select selected-decade="vm.selectedDecade" decades="vm.decades"></mw-decade-select>
        <button class="site-header__submit" ng-click="vm.getWallData()">SHOW ANOTHER WALL</button>
    </div>
</header>

<section class="site-content">
    <ul class="wall-items">
        <li class="wall-items__item" ng-repeat="item in vm.wallData.providerData" ng-switch on="item.provider">
            <mw-item-amazon ng-switch-when="amazon" item="item"></mw-item-amazon>
            <mw-item-youtube ng-switch-when="youtube" item="item"></mw-item-youtube>
            <mw-item-wikimedia ng-switch-when="wikimedia" item="item"></mw-item-wikimedia>
            <mw-item-sevendigital ng-switch-when="sevendigital" item="item"></mw-item-sevendigital>
        </li>
    </ul>
</section>