<div ng-init="data = vm.item.providerData">
  <div ng-show="item.errorMessages.length > 0">
    <h2>Oh dear&hellip;</h2>
    <p>Looks like something went wrong, please try again later</p>
  </div>

  <h2 ng-bind="data.title"></h2>

  <div class="item-details__video">
    <img ng-hide="vm.player" ng-src="{{data.image}}" alt="{{data.title}}" />
    <div class="youtube-player"></div>
  </div>

  <div class="item-details__overview">
    <div toggle-text="{{data.description}}" toggle-limit="250"></div>
    <!-- <div class="item-actions">
      <a href="#" ng-click="vm.playYouTubeVideo()" class="icon-play cta" title="Play {{data.title}}" >Play the video</a>
    </div> -->

  </div>

  <div class="item-details__related" ng-show="data.similarItems">
    <h3>Other similar stuff</h3>
    <div class="flex-equal-heights">
      <a ng-repeat="similarItem in data.similarItems" href="#" ng-click="vm.exploreWall(data.provider, similarItem.id, itemIndex)">{{similarItem.title}}</a>
    </div>
  </div>


</div>

