parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    debug_toolbar:          true
    debug_redirects:        false
    use_assetic_controller: true

    #custom stuff
    amazon_public_key: pk
    amazon_uk_private_key: pk
    amazon_us_private_key: pk
    amazon_associate_tag: aat
    gdata_key: 12345
    gdata_app_name: "my app"
    apc_token: s3cur3
    wikimedia_endpoint: "/api/endpoint"
    wikimedia_user_agent: "mw.local"
    seven_digital_oauth_key: 7digkey
    seven_digital_secret: 7digsecret