%btn--primary {
	background-color: palette(red);
	font-family: $heading-font-family;
	font-size: $h1-font-size;
	padding: $global-padding/2;
	border: 0;
	color: #fff;
	border-radius: $global-radius;
	transition: all 0.3s;

	&:hover {
		background-color: palette(red, dark);
	}
}

.ui-slider-horizontal {
	background-color: palette(blue);
	height: 0.25em;

	.ui-slider-handle {
		background-color: palette(blue);
		border: 3px solid #fff;
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
		top: -.9em;
		height: 2em;
		cursor: pointer;

		&.ui-state-hover,
		&:hover,
		&:active {
			background-color: palette(red);
		}
	}

	.ui-widget-header {
		background-color: palette(blue, dark);
	}
}


.site-header__submit {
	@extend %btn--primary
}

.site-header__select {
	background-color: transparent;
	border: 0;
	@extend h1;
	margin: 0;
	color: palette(red);
}

a.svg {
  position: relative;
  display: inline-block;
  &:after {
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left:0;
	}
}
