//globals
$global-padding: 20px;

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  use-custom: (
    rem : true,
  )
);

//breakpoints
$breakpoint-no-query-fallbacks: true;
$breakpoints: (
    lap: (768px, 'no-query' '.no-mq'),
    desk: 1024px
);

//colours
$palettes: (
    blue: (
        base:   #4fabeb,
        light:  lighten(#4fabeb, 20%),
        dark:   darken(#4fabeb, 20%),
        x-dark: darken(#4fabeb, 40%)
    ),
    grey: (
        base:  #5e5f65,
        light: #efefef,
        dark: #b3b4be,
        x-dark: #666
    )
);

//type
$base-font-size: 18px;
$base-line-height: 36px;
$rhythm-unit: "rem";
$base-font-family: 'economicabold', sans-serif, arial;
$base-font-weight: 400;
$base-font-color: palette(grey, x-dark);

