$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  use-custom: (
    rem : true,
  )
);

$breakpoints: (
    lap: 768,
    desk: 1024
);

//variables
$palettes: (
    blue: (
        base:   #4fabeb,
        light:  lighten(#4fabeb, 20%),
        dark:   darken(#4fabeb, 20%),
        x-dark: darken(#4fabeb, 40%)
    ),
    grey: (
        base:  #5e5f65,
        light: #efefef,
        dark: #b3b4be
    )
);