//globals
$global-asset-path: '../../';// '/web/bundles/Sk/' !default;
$global-padding: 20px;
$global-radius: 3px;


$susy: (
  columns: 12,
  gutters: 1/3,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: border-box,
  use-custom: (
    rem : true,
  )
);

//breakpoints
$breakpoint-no-query-fallbacks: true;
$breakpoints: (
    tablet: 480px,
    lap: (768px, 'no-query' '.no-mq'),
    desk: 1024px,
    wide: 1280px
);

//colours
$palettes: (
    blue: (
      base:   #4fabeb,
      x-light:  lighten(#4fabeb, 30%),
      light:  lighten(#4fabeb, 20%),
      dark:   darken(#4fabeb, 20%),
      x-dark: darken(#4fabeb, 40%)
    ),
    red: (
      base: #da153a,
      dark: darken(#da153a, 20%)
    ),
    grey: (
      base:  #5e5f65,
      light: #efefef,
      dark: #b3b4be,
      x-dark: #666,
      xx-dark: #333
    ),
    amazon: (
      base: #ff9900
    ),
    youtube: (
      base: #cd201f
    ),
    sevendigital: (
      base: #003CA0
    )

);

//type
$base-font-size: 16px;
$base-line-height: 32px;
$rhythm-unit: "rem";
$rem-with-px-fallback: false;
$base-font-family: 'gandhi_sansregular', 'Calibri Light', Verdana, sans-serif, arial;
$base-font-weight: 400;
$base-font-color: palette(grey, x-dark);
$heading-font-family: 'strawberrylimeade', serif;
$h1-font-size: 2.2    * $base-font-size;
$h2-font-size: 1.8  * $base-font-size;
$h3-font-size: 1.45 * $base-font-size;
$h4-font-size: 1.3 * $base-font-size;
$h5-font-size: 1 * $base-font-size;
$h6-font-size: 0.9 * $base-font-size;

