

@font-face {
    font-family: 'economicabold';
    src: url('../bundles/Sk/styles/fonts/economica-bold-otf-webfont.eot');
    src: url('../bundles/Sk/styles/fonts/economica-bold-otf-webfont.eot?#iefix') format('embedded-opentype'),
    url('../bundles/Sk/styles/fonts/economica-bold-otf-webfont.woff2') format('woff2'),
    url('../bundles/Sk/styles/fonts/economica-bold-otf-webfont.woff') format('woff'),
    url('../bundles/Sk/styles/fonts/economica-bold-otf-webfont.ttf') format('truetype'),
    url('../bundles/Sk/styles/fonts/economica-bold-otf-webfont.svg#economicabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'strawberrylimeade';
    src: url('/web/bundles/Sk/styles/fonts/kgstrawberrylimeade-webfont.eot');
    src: url('/web/bundles/Sk/styles/fonts/kgstrawberrylimeade-webfont.eot?#iefix') format('embedded-opentype'),
    url('/web/bundles/Sk/styles/fonts/kgstrawberrylimeade-webfont.woff') format('woff'),
    url('/web/bundles/Sk/styles/fonts/kgstrawberrylimeade-webfont.ttf') format('truetype'),
    url('/web/bundles/Sk/styles/fonts/kgstrawberrylimeade-webfont.svg#kgstrawberrylimeade-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    @include breakpoint(media(lap)) {
        font-size: $base-font-size * 1.1;
    }
    @include breakpoint(media(desk)) {
        font-size: $base-font-size * 1.2;
    }
}

h1, h2 {
    font-family: $heading-font-family;

}

.site-header {
    font-family: $heading-font-family;
}

.site-header__site-strapline {
    p {
        font-family: $heading-font-family;
        font-size: $h1-font-size;
        text-align: center;
        color: palette(blue);
        margin: 10px 0;

        @include breakpoint(media(lap)) {
            text-align: right;    
        }
    }
}




