

@font-face {
  font-family: 'economicabold';
  src: url('#{$global-asset-path}styles/fonts/economica-bold-otf-webfont.eot');
  src: url('#{$global-asset-path}styles/fonts/economica-bold-otf-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$global-asset-path}styles/fonts/economica-bold-otf-webfont.woff2') format('woff2'),
  url('#{$global-asset-path}styles/fonts/economica-bold-otf-webfont.woff') format('woff'),
  url('#{$global-asset-path}styles/fonts/economica-bold-otf-webfont.ttf') format('truetype'),
  url('#{$global-asset-path}styles/fonts/economica-bold-otf-webfont.svg#economicabold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'strawberrylimeade';
  src: url('#{$global-asset-path}styles/fonts/kgstrawberrylimeade-webfont.eot');
  src: url('#{$global-asset-path}styles/fonts/kgstrawberrylimeade-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$global-asset-path}styles/fonts/kgstrawberrylimeade-webfont.woff') format('woff'),
  url('#{$global-asset-path}styles/fonts/kgstrawberrylimeade-webfont.ttf') format('truetype'),
  url('#{$global-asset-path}styles/fonts/kgstrawberrylimeade-webfont.svg#kgstrawberrylimeade-webfont') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'gandhi_sansregular';
  src: url('#{$global-asset-path}styles/fonts/GandhiSans-Regular-webfont.eot');
  src: url('#{$global-asset-path}styles/fonts/GandhiSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$global-asset-path}styles/fonts/GandhiSans-Regular-webfont.woff') format('woff'),
  url('#{$global-asset-path}styles/fonts/GandhiSans-Regular-webfont.ttf') format('truetype'),
  url('#{$global-asset-path}styles/fonts/GandhiSans-Regular-webfont.svg#gandhi_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}



body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  @include breakpoint(media(lap)) {
    font-size: $base-font-size * 1.1;
  }
  @include breakpoint(media(desk)) {
    font-size: $base-font-size * 1.2;
  }
}

h1, h2 {
  font-family: $heading-font-family;
  color: palette(blue, x-dark);

}

h3, h4, h5, h6 {
  color: palette(grey, xx-dark);
}


.site-header {
  font-family: $heading-font-family;
}

.site-header__site-strapline {
  p {
    font-family: $heading-font-family;
    font-size: $h1-font-size;
    text-align: center;
    color: palette(blue);
    margin: 10px 0;

    @include breakpoint(media(lap)) {
      text-align: right;
    }
  }
}

.site-content {
  a {
    text-decoration: none;
    color: palette(red);
    cursor: pointer;
    &:hover {
      color: palette(red, dark);
    }
  }
}

.wall-items__item {
  .item-title {
    display: block;
    margin: 0 0 $global-padding/2 0;
    text-align: center;
    padding: $global-padding/2;
    @extend h3;

  }
  p {
    margin: $global-padding/2 0;
  }

  &.youtube__item {

  }

}

.item-details__related {
  a {
    color: palette(grey, xx-dark);


  }
}


