/* line 3, ../scss/_layout.scss */
body {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../../RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/susy-2.2.3/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 8, ../scss/_layout.scss */
nav {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding-left: 0.8333333333%;
  padding-right: 0.8333333333%;
}
